<div>
  <h1>Ejercicios Clase 1</h1>

  <section class="ejercicio">
    <h2>1. app.component.html</h2>
    <ol>
      <li>
        Crear aplicación que se le ingresen dos edades en dos cuadro de textos
        edadUno, EdadDos
      </li>
      <li>
        Crear boton "calcular" que al hacer click muestre la suma y el promedio
        en dos cuadros de textos nuevos.
      </li>
      <li>
        Crear boton "limpiar" que al hacer click limpie los cuadros de texto.
      </li>
    </ol>

    <!--INPUTS -->
    <div class="split-separator">
      <div>
        <div class="form-group">
          <label for="edadUno">Ingresar edad uno</label>
          <input type="number" id="edadUno" [(ngModel)]="edadUno" />
        </div>
        <div class="form-group">
          <label for="edadDos">Ingresar edad dos</label>
          <input type="number" id="edadDos" [(ngModel)]="edadDos" />
        </div>
      </div>
      <div>
        <div class="form-group">
          <label >Promedio: </label>
          <input type="text" value="{{ promedio }}">
        </div>
        <div class="form-group">
          <label >Suma: </label>
          <input type="text" value="{{ suma }}">
        </div>
      </div>
    </div>

    <!-- BUTTONS -->
    <div class="form-group">
      <button (click)="Calcular()">Calcular</button>
      <button (click)="Limpiar()">Limpiar</button>
    </div>
  </section>

  <section class="ejercicio">
    <h2>Ejercicio 2</h2>
    
  </section>
</div>